@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    @apply fixed top-0 left-0 w-full flex items-center z-50 h-16 lg:h-24
}

.nav-list {
    @apply text-white items-center lg:hover:border-b-[1px] hover:border-white transition ease-in-out duration-300
}

.hamburger-line {
    @apply w-[16px] h-[2px] my-[5px] block z-30 bg-white transition duration-300 ease-in-out;
}

.arrow-down {
    @apply border-r-2 border-b-2 border-white w-2 h-2 transition duration-300 ease-in-out
}
.showMenuNav {
    @apply min-h-screen bg-dark xl:hidden;
}

.foot-h4 {
    @apply text-white font-semibold text-2xl mb-9
}

.foot-li {
    @apply text-xl mb-8 hover:underline
}

